*{
    /* font-family: 'Open Sans'; */
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* color: rgb(88, 89, 91); */
}

.g-btn.size_small, input.g-btn.size_small {
    padding: 8px 26px;
    font-size: 13px;
    border-radius: 4px;
}

.branded-kitchen-home-btn {
    background-color: #f9a02c;
}

.g-btn, input[type="submit"] {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 36px;
    margin: 5px 0;
    border: none !important;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.g-btn {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 6px 20px;
    cursor: pointer;
    position: relative;
}

.parsley-errors-list li {
    color: red;
}

p{
    margin-bottom: 0;
}

a{
    color: chocolate;
    text-decoration: none;
}

.top_bar{
    background-color: #f5f5f5;
    padding: 3px 0;
}

.top_bar ul li{
    display: inline-block;
    margin: 0 10px;
}

.top_bar ul li i{
    margin-right: 4px;
    color: #ff6d00;
    font-size: 17px;
}

.top_bar ul li a{
    color: #333;
    font-size: 13px;
}

.top_bar ul, .main_bar ul{
    margin: 0;
    padding: 0;
}

.top_bar ul.social_link a{
    font-size: 16px;
    padding: 5px 7px;
    padding-left: 10px;
}

.top_bar ul.social_link i{
    color: #666;
}

.main_bar{
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.1);
}

.nav-item{
    margin: 0 3px;
}

.a.nav-link{
    color: #333;
    font-size: 14px;
}

.main_bar a.nav-link.active{
    color: #ff6d00;
}

.navbar-toggler{
    border: none;
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.main_footer{
    background-color: #1a1a1a;
    padding: 50px 40px 20px;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}

.main_footer h3{
    color: #FFFFFF !important;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 24px;
    font-weight: 400;
}

.main_footer ul{
    padding: 0;
    margin: 0;
}

.main_footer img{
    margin-bottom: 15px;
}

.main_footer ul li{
    margin-bottom: 5px;
}

.main_footer ul li a{
    color: #f9a02c !important;
    display: block;
    font-size: 14px;
}

.main_footer ul li a:hover{
    color: #fff!important;
    text-decoration: underline;
}

ul.contact_detail li{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

ul.contact_detail li i{
    margin: 5px 20px 0 0;
}

ul.contact_detail li a{
    color: #ccc!important;
    font-size: 13px;
    line-height: 21px;
}

.foo_social{
    margin-top: 15px;
}

.foo_social ul li{
    display: inline-block;
    border: 2px #222 solid;
    margin-right: 4px;
}

.foo_social ul li i{
    font-size: 20px;
    line-height: 46px;
    padding: 0 16px;
    color: #ccc;
}

.foo_bottom{
    background-color: #222;
    color: #fff;
    padding: 20px 40px;
}

.foo_bottom p{
    margin: 0;
    font-size: 14px;
}

.main-header h2, .main-header p {
    text-wrap: nowrap;
    z-index: 9;
    position: relative;
}

.main-header h2{
    color: rgb(88, 89, 91);
    font-weight: 900!important;
    font-size: 26.5px;
    line-height: 35px;
    font-family: 'Crimson Text', serif;
}

.main-header h2 span{
    font-family: 'Crimson Text', serif;
    color: rgb(255, 109, 0);
}

.main-header p{
    font-size: 15px;
    line-height: 25px;
    font-family: "Poppins",sans-serif !important;
    font-weight: 400 !important;
    color: rgb(255, 109, 0);
}

.main-header hr{
    border-bottom: 1px solid #58595b;
}

.main-header-content{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.form-header{
    background-color: #ff6d00;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color: #fff;
}

.form-header h3{
    font-size: 50px;
    font-weight: 800;
    word-spacing: -4px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.form-header h4{
    font-size: 30px;
    font-weight: 800;
    margin-left: 22px;
    word-spacing: 5px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.form-body{
    background-color: #58595b;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
}

.form-body p{
    text-align: center;
    background: #f2f2f2;
    width: 80%;
    margin: auto;
    margin-bottom: 15px!important;
    border-radius: 5px;
}

.form-body p input{
    width: 85%;

    background-color: transparent;
    border: none;
    outline: none;
    height: 42px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
}

.form-body p textarea{
    width: 85%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
}

.form-body p .fa-pencil{
    vertical-align: top;
    margin-top: 13px;
}

.form-body p:last-child{
    background: none;
    margin: 0 auto!important;
}

.form-body p button{
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff6d00;
    color: #fff;
    font-weight: 600;
}

.main-services{
    text-align: center;
    padding: 40px 0;
}

.main-services h2,
.main-testimonials h2{
    font-size: 46px;
    margin-bottom: 50px;
    border-bottom: 3px solid #f8b332;
    display: inline-block;
}



.service-box{
    padding: 10px;
    border: 1px solid #e6eef1;
    text-align: left;
}

.service-box h4{
    padding-top: 5px;
    margin-bottom: 15px;
    border-bottom: 3px solid #f8b332;
    display: inline-block;
}

.service-box p b{
    color: #000;
    font: 14px/24px "Poppins", sans-serif;
    margin-bottom: 12px;
    line-height: 20px;
    font-weight: 700;
}

.service-box p{
    color: #333;
    margin-bottom: 12px;
    line-height: 20px;
    font: 14px/24px "Poppins", sans-serif;
}

.services-col{
    text-align: center;
}

.services-col h4{
    font-size: 21px;
    line-height: 32px;
    font-family: "Poppins", sans-serif !important;
    padding: 10px 0;
    color: rgb(88, 89, 91);
    font-weight: 400;
}

.services-col p{
    line-height: 20px;
    font: 14px/24px "Poppins", sans-serif;
    color: #666;
}

.sub-services{
    position: relative;
    padding: 30px;
}

.branded-kitchen-overlay{
    background-color: rgba(25,25,25,0.62);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.sub-services h2{
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 46px;
    margin-bottom: 24px;
    z-index: 99;
    position: relative;
}

.sub-services h2 strong{
    font-weight: 900;
    color: #fff;
}

.sub-services p{
    color: #fff;
    z-index: 99;
    position: relative;
    margin-bottom: 10px!important;
    font-weight: 400;
}

.main-visibility{
    padding: 30px 0;
}


.main-visibility h2,
.main-visibility h2 span{
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    letter-spacing: -2px;
    font-family: "Poppins",sans-serif !important;
    line-height: 65px;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 70%;
    color: rgb(88, 89, 91);
}

.main-visibility h2 span{
    color: #ff6d00;
}

.main-visibility h2 i{
    font-family: "Libre Baskerville",serif;
    font-style: italic;
    font-weight: 400;
    color: #f9a02c;
}

.main-counter{
    padding: 30px 0;
}

.main-counter h2{
    text-align: center;
    font-size: 46px;
    margin-bottom: 24px;
}

.branded-kitchen-counter{
    text-align: center;
    background-color: #f9a02c;
    padding: 10px;
    color: #fff;
}

.branded-kitchen-counter h6{
    font: 70px/70px 'Noto Sans';
    margin: 0;
}

.branded-kitchen-counter p{
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 8px;
    color: #fff;
}

.main-affordable{
    padding: 3rem 0;
}

.main-affordable h2
,.main-consultant h2{
    text-align: center;
    font-size: 46px;
    margin-bottom: 24px;
    line-height: 42px;
}

.main-affordable p{
    margin-bottom: 5px!important;
    color: #000!important;
    font: 14px/24px "Poppins", sans-serif;
}

.main-affordable p b{
    font-weight: 800;
    color: #000;
}

.main-affordable ul li{
    position: relative;
    margin-bottom: 5px;
    font: 14px/24px "Poppins", sans-serif;
    color: #000;
}

.main-affordable ul li::before{
    content: '•';
    position: absolute;
    left: -1rem;
}

.main-questionaire{
    background-color: #494949;
    padding: 30px 0;
    color: #fff!Important;
}

.main-questionaire h2,
.main-questionaire h2 b,
.main-questionaire p,
.main-questionaire ul li{
    color: #fff;
}

.main-questionaire h2{
    text-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    font-family: "Open Sans",sans-serif !important;
}

.main-questionaire p{
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
}

.main-questionaire ul li{
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
}

.main-questionaire ul li::before{
    content: '•';
    font-size: 20px;
    position: absolute;
    left: -1rem;
}

.main-consultant{
   color: #555;
   background-color: #f2f2f2;
    padding: 40px 0;
}

.main-consultant p{
    margin-bottom: 15px;
    font: 14px/24px "Poppins", sans-serif
}

.main-consultant ul{
    margin-bottom: 20px;
}

.main-consultant ul li{
    position: relative;
}

.main-consultant ul li::before{
    content: '•';
    font-size: 20px;
    position: absolute;
    left: -1rem;
}

.main-testimonials{
    text-align: center;
    padding: 30px 0;
}

.slider-item{
    text-align: left;
}

.slider-item ul{
    padding: 0;
    margin: 0;
}

.slider-item ul li{
    display: inline-block;
}

.testimonial-header{
    background-color: #58595b;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff!important;
}

.testimonial-header h4{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}

.testimonial-header h6{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.8rem;
}

.testimonial-header i{
    color: #fcd003;
    font-size: 20px;
}

.testimonial-body{
    background-color: #f6f6f6;
    border-bottom: 5px solid #f9a02c;
    box-sizing: border-box;
    padding: 15px;
    min-height: 210px;
}

.testimonial-body p{
    margin-bottom: 10px;
    font: 14px/24px "Poppins", sans-serif;
}

.main-cta{
    text-align: center;
    padding: 30px 0;
}

.main-cta h2{
    color: #f9a02c !important;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
}

.main-cta h4{
    color: #FFFFFF !important;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}

.main-cta button{
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 36px;
    margin: 5px 0;
    border: none !important;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    background-color: #f9a02c;
    color: #fff;
}

.main-clients{
    padding: 60px 0;
}

.main-clients h2{
    font-size: 46px;
    margin-bottom: 50px;
    text-align: center;
}


/* Responsive Query */
@media only screen and (max-width: 1400px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 1024px){
    .main_bar ul li a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px){
    .main_footer h3{
        margin-top: 1rem;
    }
    .nav-item {
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.06);
    }
}

@media only screen and (max-width: 769px){
    .top_bar ul, .social_link{
        text-align: center;
        float: none!Important;
    }

    .top_bar ul li i{
        font-size: 12px;
    }

    .top_bar ul li a{
        font-size: 12px;
    }

    .foo_bottom img, .foo_bottom p{
        display: block;
        margin: 5px auto;
        float: none!important;
        text-align: center;
    }
}

@media only screen and (max-width: 400px){
    .main_bar a h1 img{
        width: 170px;
    }
}


.invisible-checkboxes{margin: 0px 5px}
.checkbox-alias{
    background-color: gainsboro;
    width: 150px;
    min-height: 170px;
  z-index: 1;
  position: relative;
  transition: all 250ms ease-out;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  padding-bottom:12px; 
}
.checkbox-alias .service-style{
    /* padding-left: 10px; */
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin-top: 5px;
}
.checkbox-alias .service_pkr{
    font-size: 18px;
    margin-top: 0px;
}
.invisible-checkboxes input[type=checkbox]{
  display: none;
}

.invisible-checkboxes input[type=checkbox]:checked + .checkbox-alias{
    border: 2px solid transparent;
    background-color: #405189;
    color: #ffffff;
}
.checkbox-alias img{
width: -webkit-fill-available;
/* height: -webkit-fill-available; */
}
.slt_facilities_btn{
    padding: 10px 25px;
    background: #405189;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin: 0px 5px 10px;
    pointer-events: none;
}
b.tag_heading{
    /* display: block; */
    color: #405189;
}
.recipt-model-top{
    background-color: #405189;
    padding: 20px;
}
.recipt-logo{
    margin-bottom: 20px;
    width: 100px;
}
.recipt-close-btn{
    position: relative;
    top: -10px;
    color: #fff;
}
.flot-end {
    float: inline-end !important;
}

#pay_customers tr:nth-child(even){background-color: #f2f2f2;}

#pay_customers tr:hover {background-color: #ddd;}
#pay_customers thead{background-color: #405189; color: #fff;}
#pay_customers thead tr:hover{background-color: #405189;}
.color-theme{color:#405189;}
.color-black{color: #000;}
.service_name{
    background: #405189;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
}